html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: url('cursor/default.png'), default;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
a, button {
    text-decoration: none;
    font-weight: bold;
    color: #E75079;
    cursor: url('cursor/pointer.png'), default;
}

#header {
    margin: 15px;

    .header__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #555;
        user-select: none;
    }
    .nav {
        font-size: 14px;

        .nav__item:not(:last-child) {
            margin-right: 15px;
        }
    }
    .phone {
        display: flex;
        flex-direction: column;
    }
}
#promo {
    position: relative;

    .promo__title {
        margin-bottom: -35px;
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 400;
        font-size: 60px;
        text-align: center;
    }
    .promo__img {
        max-width: 100%;
        max-height: 350px;
    }
    .promo_description {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 125px;
        margin-top: -100px;
        background-image: url('image/brush_pink.png');
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        font-weight: bold;
        text-align: center;
        filter: grayscale(1);
    }
    .promo__price {
        display: flex;
        align-items: flex-start;

        .price__amount {
            font-family: 'Rubik Mono One', sans-serif;
            font-weight: 400;
            font-size: 40px;
        }
        .price__currency {
            margin-left: 10px;
            border-bottom: 2px solid #000;
            font-weight: 400;
        }
    }
    .promo__advice {
        margin-top: 8px;
        font-size: 13px;
        font-weight: bold;
        color: #555;
    }
    .promo__air {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Caveat', cursive;
        
        p {
            width: 150px;
            font-size: 24px;
            transform: rotate(-25deg) translate(0, -50px);
        }
    }
    .air__left {
        transform: translate(-400px, 50px);
    }
    .air__right {
        top: 0;
        transform: translate(400px, 50px);

        img {
            transform: scaleX(-1);
            rotate: 30deg;
        }
        p {
            transform: rotate(25deg) translate(0, -30px);
        }
    }
}
#about {
    position: relative;
    margin-top: 50px;

    .about__title {
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #aaa;
    }
    .about__box {
        display: flex;
        align-items: flex-end;
        max-width: 800px;
    }

    .about__content {
        margin-right: 15px;
        z-index: 2;
        
        h3 {
            margin-bottom: 10px;
            font-family: 'Rubik Mono One', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: #555;
        }
        p {
            margin-top: 0;
            font-family: 'Caveat', cursive;
            font-size: 24px;
        }
    }
    .about__img {
        width: 330px;
    }
    .about__air {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .air__money {
            height: 100px;
            transform: translate(-350px, 150px);
        }
        .air__bag {
            height: 120px;
            transform: translate(-300px, -100px);
        }
        .air__hat {
            height: 130px;
            transform: translate(500px, 80px);
        }
    }
}
#photo {
    margin-top: 50px;

    .photo__title {
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #aaa;
    }

    .photo__box {
        display: flex;
    }
    .photo__list {
        position: relative;
        padding: 0;
        width: 170px;
        height: 400px;
        list-style: none;
        overflow: hidden;

        img {
            width: 170px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-image: linear-gradient(to top, #FFF, transparent);
        }
    }
    .photo__frame {
        width: 550px;

        img {
            width: 550px;
        }
    }
    .photo__content {
        h3 {
            margin-bottom: 10px;
            font-family: 'Rubik Mono One', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: #555;
        }
        ul {
            margin-top: 0;
            padding: 0;
            font-family: 'Caveat', cursive;
            font-size: 24px;
            list-style: none;
        }
    }
}
#question {
    margin-top: 50px;

    .question__title {
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #aaa;
    }
    .question__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;

        .question__item {
            position: relative;
            max-width: 300px;
            margin-right: 15px;
            margin-bottom: 30px;
            padding-left: 65px;

            dt {
                position: relative;
                margin-bottom: 10px;
                font-family: 'Rubik Mono One', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #555;
                z-index: 2;
            }
            dd {
                position: relative;
                margin-top: 0;
                padding: 0;
                font-family: 'Caveat', cursive;
                font-size: 24px;
                list-style: none;
                z-index: 2;
            }
            img {
                position: absolute;
                left: 0;
                top: 40px;
                height: 80px;
                z-index: 1;
            }
        }
    }
}
#delivery {
    position: relative;
    margin-top: 50px;
    padding-bottom: 100px;

    .delivery__title {
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #aaa;
    }
    .delivery__box {
        display: flex;
        justify-content: space-between;
        width: 800px;
        margin-bottom: 30px;
    }
    .delivery__option {
        max-width: 380px;
        font-family: 'Caveat', cursive;
        font-size: 24px;

        h3 {
            margin-bottom: 10px;
            font-family: 'Rubik Mono One', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: #555;
        }
        .delivery__img {
            height: 40px;

            img {
                height: 40px;
            }
        }
        .advice {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 18px;
            color: #555;

            h6 {
                margin: 0 5px;
                font-size: 18px;
            }
        }
    }
    .delivery__air {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Caveat', cursive;
        
        p {
            width: 150px;
            font-size: 24px;
        }
    }
    .air__left {
        transform: translate(-400px,65px);

        p {
            transform: rotate(-25deg) translate(-65px,-230px);
        }
        img {
            transform: scaleX(-1) rotate(210deg);
        }
    }
    .air__right {
        top: 0;
        transform: translate(200px,340px);

        img {
            transform: rotate(210deg);
        }
        p {
            transform: rotate(25deg) translate(110px,-275px);
        }
    }
}
#modal {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 3;

    .modal__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 20px;
        width: auto;
        background-color: #FEFEFE;
        border: 1px solid #888;
        border-radius: 15px;
        box-shadow: 0 30px 15px -20px #333;

        .modal__title {
            font-family: 'Rubik Mono One', sans-serif;
            font-weight: 400;
            font-size: 40px;
            color: #AAA;
        }
        .modal__choice {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 200px;
            margin-right: 15px;

            strong {
                margin: 5px 0;
                font-family: 'Rubik Mono One', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #555;
            }
            .choice__item {
                display: flex;
                align-items: center;

                input {
                    // display: none;
                }
                label {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    font-size: 18px;
                    color: #555;
                }

                * {
                    cursor: url('cursor/pointer.png'), default;
                }
            }
        }
        .modal__contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 230px;

            .contact__form {
                display: flex;
                flex-direction: column;

                input {
                    margin-top: 5px;
                    padding: 12px 12px;
                    font-size: 16px;
                    border: 5px solid #C3C3C3;
                    outline: none;
                    cursor: url('cursor/pointer.png'), default;
                }
                input[type='submit'] {
                    padding: 12px 20px;
                    background: #E75079;
                    font-family: 'Rubik Mono One', cursive;
                    font-weight: 400;
                    color: #fff;
                    outline: none;
                    border: none;
                }
            }
            .contact__or {
                margin: 15px 0;
            }
            .contact__social {
                display: flex;
                justify-content: space-between;
                width: 100%;

                h4 {
                    margin: 0;
                }
            }
        }
    }
}

.wrap {
    display: flex;
}
.button__buy {
    width: 150px;
    padding: 12px 20px;
    background: #e75079;
    font-family: 'Rubik Mono One', cursive;
    font-weight: 400;
    color: #fff;
    outline: none;
    border: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
::selection {
    background-color: #AAA;
    color: #FFF;
}

@media (max-width: 862px) {
    #header {
        .logo {
            display: none;
        }
        .nav {
            display: none;
        }
    }
    #promo {
        .promo__title {
            font-size: 42px;
        }
        .promo__air {
            display: none;
        }
    }
    #about {
        .about__box {
            flex-direction: column;
            align-items: center;
        }
        .about__air {
            display: none;
        }
    }
    #photo {
        .wrap {
            flex-direction: column;
            align-items: center;
        }
        .photo__list {
            display: flex;
            height: auto;
            width: auto;
        }
    }
    #delivery {
        .delivery__box {
            flex-direction: column;
            align-items: center;
            width: auto;
            padding: 10px;
        }
        .delivery__air {
            display: none;
        }
    }
}