html, body {
    height: 100%;
}

header {
    .header__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {

    }
    .nav {
        .nav__item {
            margin-right: 10px;
        }
    }
    .lang {

    }
    .phone {
        display: flex;
        flex-direction: column;
    }
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#promo {
    position: relative;

    .promo__title {

    }
    .promo__img {

    }
    .promo_description {

    }
    .promo__advice {

    }
    .promo__air {

    }
}
#about {
    position: relative;

    .about__title {

    }
}
#photo {    
    .photo__title {

    }

    .photo__list {

    }
    .photo__frame {

    }
    .photo__content {
        
    }
}
#question {
    .question__title {

    }
    .question__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
#delivery {
    .delivery__title {

    }
    .delivery__option {
        
    }
}
#modal {
    .modal__content {
        .modal__title {

        }
        .modal__choice {

        }
        .modal__contact {

        }
    }
}

.wrap {
    display: flex;
}
.button__buy {
    width: 100px;
}

@media (max-width: 862px) {
}